.cart-footer {
  position: fixed;
  bottom: 0;
  background-color: #1e5631;
  width: 100%;
  color: antiquewhite;
  text-align: center;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11.2px;
  padding: 10px 0 10px 0;
}
